@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import 'reset';
@import 'colors';

.App {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  font-family: Arial, sans-serif;
}